<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#6642f5" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />

    <title>Hayu Makan</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header></header>
    <main id="main-content" tabindex="0"></main>
    <footer></footer>
  </body>
</html>
